<div class="card" style="display: flex; " >
  <h5 class="card-header">FlopBuster</h5>
  <p>We have all the best flops in the busiiness! <br>
  chooose a flop <br>
  to rent
  </p>
  <app-rental-list [rentalList]="rentalListSerive.currentRentals"  ></app-rental-list>
  <!-- <app-rent-btn></app-rent-btn>
   -->
<app-movie-tile (rentMovie)="onRentMovie($event)"  [movie]="wingCommander" ></app-movie-tile>
<app-movie-tile [movie]="theRoom" (rentMovie)="onRentMovie($event)"  [movie]="theRoom"  ></app-movie-tile>
<app-clear-btn (clearRental)="onClearRentalList()" ></app-clear-btn>
   
</div>